<%- include partials/header.ejs %>
  

  <!-- Main Content -->

  <div style="height: 1000px;"></div>

  <div style="height: 1000px;">This is some text</div>


<%- include partials/footer.ejs %>
  




