<%- include partials/header.ejs %>
  

  <!-- Main Content -->

<img class="background" src="/Assets/images/background.svg" alt="">

<div style="height: 1000px;">This is some text</div>


<%- include partials/footer.ejs %>
  




