/* custom css goes here */
body {
    background-image: url("/Assets/images/background.svg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
}

.navbar{
    background-color: transparent;
    position: fixed;
    width: 100%;
}
.bg-light{
    background-color: transparent!important;
}
a
{   color: white;
}
a:hover{
    text-decoration: none;
}
